ccfwidget==0.5.3
cebra
cython
dandi==0.61.2
elephant==0.12.0
h5py>=3.8
ipympl==0.9.4
ipywidgets==7.8.1
itkwidgets==0.32.6
jupyter==1.0.0
matplotlib==3.6.2
mpl-interactions==0.22.0
neo==0.13.0
numpy==1.23.5
nwbwidgets
ophys-nway-matching @ git+https://github.com/AllenInstitute/ophys_nway_matching@545504ab55922717ab623f8ede2c521a60aa1458
pandas==1.5.2
Pillow==9.3.0
pynwb==2.6.0
quantities==0.14.1
remfile==0.1.10
scikit-image==0.19.3
scipy==1.9.3
# ssm @ git+https://github.com/lindermanlab/ssm
statsmodels==0.14.0
suite2p==0.12.1
tensortools==0.4
torch
traitlets==5.6.0
tqdm==4.66.2
zarr==2.13.3
ndx-harvey-swac @ git+https://github.com/sytseng/ndx-harvey-swac
