aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
asttokens==2.2.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bidsschematools==0.6.0
bleach==5.0.1
bqplot==0.12.36
ccfwidget==0.5.3
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.0
cloudpickle==2.2.0
colorama==0.4.6
colorcet==3.0.1
contourpy==1.0.6
cycler==0.11.0
dandi==0.46.6
dandischema==0.7.1
dask==2022.11.1
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.1
email-validator==1.3.0
elephant==0.12.0
entrypoints==0.4
etelemetry==0.3.0
executing==1.2.0

fsspec==2022.11.0
h5py==3.7.0
jupyter==1.0.0
matplotlib==3.6.2
mpl-interactions==0.22.0
neo==0.12.0
numpy==1.22.4
nwbwidgets==0.10.0
ophys-nway-matching @ git+https://github.com/AllenInstitute/ophys_nway_matching@545504ab55922717ab623f8ede2c521a60aa1458
pandas==1.5.2
Pillow==9.3.0
pynwb==2.2.0
quantities==0.14.1
scikit-image==0.19.3
scipy==1.9.3
