autograd==1.7
ccfwidget==0.5.3
cebra
dandi==0.67.2
elephant==1.1.1
h5py>=3.8
ipympl==0.9.4
ipywidgets==7.8.1
itkwidgets==0.32.6
jupyter==1.0.0
jupyter-book==1.0.0
markupsafe==2.0.1
matplotlib==3.6.2
mpl-interactions==0.22.0
nbmake==1.5.3
neo==0.13.0
numcodecs==0.11.0
numpy==1.26.0
nwbwidgets
ophys-nway-matching @ git+https://github.com/AllenInstitute/ophys_nway_matching.git
pandas==1.5.2
Pillow==11
pynwb==2.6.0
pytest-xdist==3.5.0
quantities==0.14.1
remfile==0.1.10
scikit-image==0.18.3
scipy==1.13.1
# ssm @ git+https://github.com/lindermanlab/ssm
statsmodels==0.14.0
suite2p==0.14
tensortools==0.4
torch
traitlets==5.6.0
tqdm==4.66.2
zarr==2.13.3
ndx-harvey-swac @ git+https://github.com/sytseng/ndx-harvey-swac
