cebra==0.2.0
ccfwidget==0.5.3
dandi==0.46.6
elephant==0.12.0
fsspec==2022.11.0
h5py==3.7.0
matplotlib==3.6.2
mpl-interactions==0.22.0
neo==0.12.0
numpy==1.22.4
nwbwidgets==0.10.0
ophys-nway-matching @ git+https://github.com/AllenInstitute/ophys_nway_matching@545504ab55922717ab623f8ede2c521a60aa1458
pynwb==2.2.0
quantities==0.14.1
scipy==1.9.3
jupyter==1.0.0